<md-toolbar>
    <div class="md-toolbar-tools">
        <md-truncate >Question&Answer</md-truncate>
        <span flex=""></span>
        <md-button ng-href="{{homeUrl}}" target="_blank">HOME</md-button>
    </div>
</md-toolbar>

<md-content>
    <div layout="column" layout-align="center center">
        <h1>问我吧！</h1>
        <i>description here...</i>
        <form>
            <div layout="column" style="padding-top:100px;">
                <md-input-container class="md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>用户名</label>
                    <input ng-model="username" type="text" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>密码</label>
                    <input ng-model="password" type="password" required>
                </md-input-container>
            </div>

            <div layout="row">
                <md-button ng-click="login()" class="md-raised" type="submit">登录</md-button>
                <md-button ng-click="signup()" class="md-raised" type="submit">注册</md-button>
            </div>
        </form>
    </div>
    <br><br><br><br>
</md-content>
