<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" >
    <form>
        <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
            <md-input-container class="md-block">
                <!-- Use floating label instead of placeholder -->
                <label>问题标题{{user.age}}</label>
                <input required ng-model="answerTitle" type="text" >
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                选择咨询师
            </md-button>
        </div>
        <div class="dialog-demo-prerendered" layout="column" layout-align="center center" >
            <div layout="row" layout-align="center center">
                <md-textarea-container class="md-block">
                    <textarea required ng-model="answerDesc" type="text" style="width:500px;height:400px;" placeholder="问题描述..."></textarea>
                </md-textarea-container>
            </div>
            <div layout="row" layout-align="center center">
                <md-button ng-click="submitAnswer()" class="md-raised" type="submit" id="loginBtn"> 提交
                </md-button>
                <md-button ng-click="saveAnswer()" class="md-raised">保存</md-button>
            </div>

        </div>

        <script type="text/ng-template" id="dialog1.tmpl.html">
            <md-dialog aria-label="Mango (Fruit)">
                <!--<form ng-cloak>-->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>选择咨询师</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div layout="row" layout-align="center center" class="md-dialog-content">
                        <div><img style="margin: auto; max-width: 90%;" alt="Lush mango tree" src="../../../src/images/图片1.png"><h2>&nbsp;&nbsp;Mark</h2></div>
                        <div><img style="margin: auto; max-width: 90%;" alt="Lush mango tree" src="../../../src/images/图片2.png"><h2>&nbsp;&nbsp;John</h2></div>
                        <div><img style="margin: auto; max-width: 90%;" alt="Lush mango tree" src="../../../src/images/图片3.png"><h2>&nbsp;&nbsp;Jason</h2></div>
                        
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="answer('not useful')">
                        换一批
                    </md-button>
                    <md-button ng-click="answer('useful')">
                        选择
                    </md-button>
                </md-dialog-actions>
                <!--</form>-->
            </md-dialog>
        </script>
    </form>
</div>

